@using Common
@{
    ViewBag.Title = "首页";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="管理后台">
    <title>商城运营后台</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="img/logo.png">
    <link href="/Content/common/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/common/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/common/css/animate.min.css" rel="stylesheet">
    <link href="/Content/common/css/style.min.css" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="navbar-logo">
            </div>
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="">
                            <i class="fa fa-gear"></i>
                            <span class="nav-label">营销管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="@Url.Action("Index","product")">商品</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="@Url.Action("Index", "coupon")">优惠券</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-book"></i>
                            <span class="nav-label">交易管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="@Url.Action("index", "order", new { status = (int)Enums.OrderStatus.未付款 })">
                                    未付款订单
                                </a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="@Url.Action("index", "order", new { status = (int)Enums.OrderStatus.未发货 })">
                                    未发货订单
                                </a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="@Url.Action("index", "order", new { status = (int)Enums.OrderStatus.已发货 })">
                                    已发货订单
                                </a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="@Url.Action("index", "order", new { status = (int)Enums.OrderStatus.交易成功 })">
                                    已完成订单
                                </a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="@Url.Action("index", "order", new { status = (int)Enums.OrderStatus.交易关闭 })">
                                    已关闭订单
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li>
                            <a href="@Url.Action("List","Book")">
                                <i class="fa fa-book"></i>
                                <span class="nav-label">书籍管理</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("List","Book")" data-index="0">书籍列表</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("Index", "Channel")">文案列表</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("Cover", "Book")">图片素材</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("Title", "Book")">标题素材</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Channel")">
                                <i class="fa fa fa-bar-chart-o"></i>
                                <span class="nav-label">渠道管理</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("List", "Channel")">渠道列表</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="@Url.Action("RechargeDetail", "Finance")"><i class="fa fa-money"></i> <span class="nav-label">财务管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("UserRecharge", "Finance")">用户充值</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("Income", "Finance")">收款信息</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("WithdrawCash", "Finance")">提现功能</a>
                                </li>
                            </ul>
                        </li>*@
                    @*<li>
                            <a href=""><i class="fa fa-user"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("Index", "User")">用户列表</a>
                                </li>
                            </ul>
                        </li>*@
                    @*<li>
                            <a href="@Url.Action("Index", "Plat")"><i class="fa fa-desktop"></i> <span class="nav-label">平台公告</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="J_menuItem" href="@Url.Action("Index", "Plat")">平台公告</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table"></i> <span class="nav-label">表格</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="J_menuItem" href="table_basic.html">基本表格</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="table_data_tables.html">DataTables</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="table_jqgrid.html">jqGrid</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="table_foo_table.html">Foo Tables</a>
                                </li>
                                <li>
                                    <a class="J_menuItem" href="table_bootstrap.html">
                                        Bootstrap Table
                                        <span class="label label-danger pull-right">推荐</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " style="display:none;" href="#"><i class="fa fa-bars"></i> </a>
                    </div>

                    <div class="navbar-header right_part">
                        <span class="company">@ViewBag.companyName</span><button id="loginOut" class=" minimalize-styl-2 btn btn-default btn-outline loginout ">退出</button>
                    </div>
                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="" frameborder="0" @*data-id="@Url.Action("Index", "HomeStatistic")"*@ seamless></iframe><!--打开一个菜单后会对应增加一个iframe-->
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
    <script src="/Content/common/js/jquery.min.js"></script>
    <script src="/Content/common/js/bootstrap.min.js"></script>
    <script src="/Content/common/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/Content/common/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/Content/common/js/plugins/layer/layer.min.js"></script>
    <script src="/Content/common/js/nav.min.js"></script>
    <script src="/Content/common/js/tabs.min.js" type="text/javascript"></script>
    <script src="/Content/common/js/plugins/pace/pace.min.js"></script>
</body>
</html>
<script>
    $(function () {
        $("#loginOut").click(function () {
            window.location.href = '/admin/login';
        });
    })
</script>